<!-- Sección de encabezado -->
<app-header/>
<section class="bg-gray-200 py-60">
    <div class="container mx-auto px-6 grid grid-cols-1 lg:grid-cols-2 gap-4 items-center">
        <!-- Columna del texto -->
        <div class="flex items-center justify-center lg:justify-start">
            <h2 class="text-3xl font-bold text-center lg:text-left">
                Encabezado referente a la historia de tu negocio
            </h2>
        </div>
        <!-- Columna para la imagen -->
        <div class="flex items-center justify-center">
            <img class="h-auto max-w-xs rounded-lg" src="./logo.png" alt="Logo marca">
        </div>
    </div>
</section>

<!-- Sección de ayuda -->
<section class="py-20 bg-white text-gray-900">
    <div class="container mx-auto px-6 text-center">
        <h3 class="text-2xl font-semibold mb-6">¿Cómo ayudas a tus clientes?</h3>
        <p class="text-gray-700 mb-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus efficitur ex, ut mattis ipsum. Nunc
            tempus ante non eros bibendum commodo...
        </p>
        <button class="px-6 py-2 bg-gray-900 text-white font-semibold hover:bg-gray-700">VER MÁS</button>
    </div>
</section>

<!-- Sección de equipo -->
<section class="py-20 bg-gray-100 text-gray-900">
    <div class="container mx-auto px-6 text-center">
        <h3 class="text-2xl font-semibold mb-6">Nuestro Equipo</h3>
        <p class="text-gray-700 mb-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus efficitur ex, ut mattis ipsum.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">

            <div
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <img class="rounded-t-lg" src="/src/assets/img/Logo SA.png" alt="" />
                <div class="p-5">
                    <div class="w-full h-40 bg-gray-300 mb-4"></div>
                    <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">CARGO</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Nombre del personal</p>

                </div>
            </div>

            <div
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <img class="rounded-t-lg" src="/src/assets/img/Logo SA.png" alt="" />
                <div class="p-5">
                    <div class="w-full h-40 bg-gray-300 mb-4"></div>
                    <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">CARGO</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Nombre del personal</p>

                </div>
            </div>

            <div
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <img class="rounded-t-lg" src="/src/assets/img/Logo.png" alt="" />
                <div class="p-5">
                    <div class="w-full h-40 bg-gray-300 mb-4"></div>
                    <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">CARGO</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Nombre del personal</p>

                </div>
            </div>

            <div
                class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <img class="rounded-t-lg" src="/src/assets/img/Logo.png" alt="" />
                <div class="p-5">
                    <div class="w-full h-40 bg-gray-300 mb-4"></div>
                    <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">CARGO</p>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Nombre del personal</p>

                </div>
            </div>


        </div>
    </div>
</section>