<section class="bg-white h-screen w-screen p-10">
    <div class="py-4 px-4 mx-auto">
        <div class="mx-auto max-w-screen-sm text-center">
            <img src="./404.png" alt="404" class="h-auto">
            <p class="mb-4 text-2xl font-light text-gray-800 ">Lo sentimos, no podemos encontrar esta página. </p>
            <a routerLink="/" 
                class="inline-flex bg-blue-600 text-white hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blues-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4">
                Regresar al inicio</a>
        </div>
    </div>
  </section> 